* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-black);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__navbar {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(120,1,25,1) 100%);
}

.gradient__contact {
    background: linear-gradient(0deg, rgba(255,214,95,1) 0%, rgba(0,0,0,1) 100%);
}