@import url('https://fonts.googleapis.com/css?family=Libre%20Franklin');

:root {
    --font-family: 'Libre Franklin';
    
    --color-maroon : #780119;
    --color-gold : #FFD65F;
    --color-black : #000000;
    --color-blue_light : #A5B9D9;
    --color-blue_dark : #243A4E;
    --color-blue_medium : #465D74;
    --color-green : #628474;
    --color-brown : #5C5957;
    --color-grey : #B5C2C2;
    --color-white :  #ffffff;
  }